<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundamentos.telecomunicaciones.aplicacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_modulacion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FundamentosTelecomunicaciones">
        <activity
            android:name=".modulacion.tipos.modulacion.TiposModulacionPMActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.tipos.modulacion.TiposModulacionFMActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.tipos.modulacion.TipoModulacionDSBActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.tipos.modulacion.TiposModulacionVSBActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.tipos.modulacion.TiposModulacionSSBActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.tipos.modulacion.TiposModulacionAMActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.TranslacionFrecuenciaMainActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.TiposModulacionMainActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.RangosFrecuenciaMainActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.ModulacionAnalogicaMainActivity"
            android:exported="false" />
        <activity
            android:name=".modulacion.OndaElectromagnecticaActivity"
            android:exported="false" />
        <activity
            android:name=".preguntas.FormularioTestMainActivity"
            android:exported="false" />
        <activity
            android:name=".clasificacion.ClasificacionMedioTransmisionMainActivity"
            android:exported="false" />
        <activity
            android:name=".clasificacion.ClasificacionTamanioMainActivity"
            android:exported="false" />
        <activity
            android:name=".clasificacion.ClasificacionTopologiaMainActivity"
            android:exported="false" />
        <activity
            android:name=".clasificacion.ClasificacionTipoFlujoMainActivity"
            android:exported="false" />
        <activity
            android:name=".clasificacion.ClasificacionFormatoActivity"
            android:exported="false" />
        <activity
            android:name=".clasificacion.ClasificacionModoTransmisionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityModulacion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>